---
layout: default.njk
title: 'Home'
---

<div class="bg-gray-50 dark:bg-gray-800 py-6 md:py-12 text-center">
  <div class="mx-auto max-w-7xl px-4 lg:px-8">
		<h1 class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-gray-300 sm:text-5xl md:text-6xl">
			<span class="block xl:inline">When will we reach</span>
			<span class="block text-indigo-600 xl:inline">Herd Immunity?</span>
		</h1>
		<p class="mt-3 text-base text-gray-600 dark:text-gray-300 sm:mt-5 sm:text-md md:mt-5 mx-auto max-w-3xl">
			Herd immunity is based on <span>{{ data.formatted.herdPercentageLabel }}%</span> of the population at double dosage. As vaccination administration ramps up and the 7 Day Rolling Average changes, the herd immunity date will also change (see <a href="#notes" class="text-red-400">notes</a> below).<br><strong>Please refer to <a href="https://covid.cdc.gov/covid-data-tracker/#vaccinations" class="text-green-400">CDC guidelines</a> for more accurate information.</strong>
		</p>
		<div class="mt-6 text-gray-600 dark:text-gray-300 text-xs text-center">
			<p>Most recent data: {{ data.formatted.lastDate }} pulled from the CDC via <a href="https://github.com/owid/covid-19-data/tree/master/public/data/vaccinations" class="text-red-400">owid/covid-19-data</a>.</p>
			<p class="mt-1">Site last updated: <span class="last-updated"></span></p>
		</div>
  </div>
</div>

<div class="lg:container lg:mx-auto p-6 pb-6 md:pt-12 md:pb-12 md:px-6 dark:pt-3 md:dark:pt-0">
	<div id="charts-wrap" class="charts-wrap grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-12"></div>
</div>

<div id="notes" class="bg-gray-50 dark:bg-gray-800 p-12">
	<div class="container mx-auto max-w-3xl">
		<h2 class="text-2xl tracking-tight font-extrabold text-gray-900 dark:text-gray-300">Notes</h2>
		<ul class="text-gray-600 dark:text-gray-300 mt-3 list-disc">
			<li>This site is intended to act as quick reference to the latest vaccination data. There are almost certainly inaccuracies in the data, calculations, and guesses. <strong>Please refer to CDC guidelines for more accurate information.</strong></li>
			<li>As vaccination administration ramps up and the 7 Day Rolling Average changes, the herd immunity date will also change. This date is purely an educated guess/estimate based on available data.</li>
			<li>Single dosage vaccines (such as the Johnson &amp; Johnson vaccine) are not currently taken into account for the herd prediction.</li>
		</ul>
	</div>
</div>

<div class="container mx-auto max-w-xl p-12">
	<div class="text-center">
		<p class="text-gray-600 dark:text-gray-300 mt-3 text-xs">
			This site is made by <a href="https://seferdesign.com" class="text-red-400">Sefer Design Co.</a>, with inspiration from <a href="https://www.bloomberg.com/graphics/covid-vaccine-tracker-global-distribution/" class="text-green-400">Bloomberg</a>, <a href="https://www.nytimes.com/interactive/2020/us/covid-19-vaccine-doses.html" class="text-green-400">The New York Times</a>, and many others. Contribute on <a href="https://github.com/rsefer/whenwillweherd" class="text-blue-400">GitHub</a>.
		</p>
	</div>
</div>

<div class="entity-template">
	<div class="bg-white dark:bg-gray-500 dark:text-gray-300 shadow overflow-hidden rounded-md sm:rounded-lg">
		<div class="bg-gray-200 dark:bg-gray-600 px-4 py-5 sm:px-6 sm:flex justify-between items-center sm:gap-4">
			<h3 class="entity-title flex-grow text-center sm:text-left text-lg leading-6 font-medium text-gray-900 dark:text-gray-50"></h3>
			<div class="entity-selection mt-4 sm:mt-0 flex-grow-0">
				<select id="select-state" name="select-state" autocomplete="state" class="block w-full py-2 px-2 sm:py-0 sm:py-0 border border-gray-300 bg-white text-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
					<option>Select State</option>
					{% for state in data.formatted.entitiesList %}
					{% if state == 'United States' %}{% else %}
					<option value="{{ state }}">{% if state == 'New York State' %}New York{% else %}{{ state }}{% endif %}</option>
					{% endif %}
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="border-t border-gray-200 dark:border-green-500">
			<dl>
				<div class="bg-green-300 dark:bg-green-500 px-4 py-5 grid grid-cols-2 sm:gap-4 sm:px-6">
					<dt class="text-sm font-medium text-gray-600 dark:text-white">
						<span class="font-semibold">Herd Immunity</span><br>
						<small>({{ data.formatted.herdPercentageLabel }}% of the population)</small>
					</dt>
					<dd class="mt-1 text-sm text-gray-900 dark:text-white sm:mt-0 text-right">
						<div class="entity-herd-date-double font-bold"></div>
						<div style="display: none;"><small><em>(<span class="entity-herd-days-needed-double"></span> days)</em></small></div>
					</dd>
				</div>
			</dl>
		</div>
		<div class="vaccinations-chart bg-white pt-6 pb-2 md:px-6"></div>
		<dl class="border-t border-b border-gray-200">
			<div class="px-4 py-5 grid grid-cols-2 sm:gap-4 sm:px-6">
				<dt class="text-sm font-medium text-gray-600 dark:text-gray-50">
					Population
				</dt>
				<dd class="entity-population mt-1 text-sm text-gray-900 dark:text-gray-50 sm:mt-0 text-right">
				</dd>
			</div>
			<div class="px-4 py-5 grid grid-cols-2 sm:gap-4 sm:px-6">
				<dt class="text-sm font-medium text-gray-600 dark:text-gray-50">
					Vaccinations Given
				</dt>
				<dd class="mt-1 text-sm text-gray-900 dark:text-gray-50 sm:mt-0 text-right">
					<div class="entity-vacs-given"></div>
					<div><small><em>(<span class="entity-vacs-per-100"></span> per 100)</em></small></div>
				</dd>
			</div>
			<div class="px-4 py-5 grid grid-cols-2 sm:gap-4 sm:px-6">
				<dt class="text-sm font-medium text-gray-600 dark:text-gray-50">
					7 Day Rolling Average
				</dt>
				<dd class="entity-7-day-rolling-average mt-1 text-sm text-gray-900 dark:text-gray-50 sm:mt-0 text-right">
				</dd>
			</div>
			<div class="px-4 py-5 grid grid-cols-2 sm:gap-4 sm:px-6">
				<dt class="text-sm font-medium text-gray-600 dark:text-gray-50">
					Remaining Vaccinations Needed<br>
					<small>(assuming Double Dosage)</small>
				</dt>
				<dd class="entity-herd-remaining-vacs-needed-double mt-1 text-sm text-gray-900 dark:text-gray-50 sm:mt-0 text-right">
				</dd>
			</div>
		</dl>
		<div class="fully-chart bg-white pt-6 pb-2 md:px-6"></div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/8.2.2/highcharts.min.js" integrity="sha512-rGbwX2HebD+8leyXLc1TjqjkMMYnsGHxV6Rr4Dl0qi6EqXKw8Ox72Dg75HpRXR3qly+TbmKV1SU81VWPPpHpcQ==" crossorigin="anonymous"></script>

<script>
{% set js %}
jQuery(document).ready(function($) {

	$('.last-updated').text(new Date('{{ data.timestamp }}').toLocaleString());

	var urlParams = new URLSearchParams(window.location.search);
	var stateName = urlParams.get('state') || 'Illinois';
	if (stateName == 'New York') {
		stateName = 'New York State';
	}

	$('body').on('change', '#select-state', function() {
		window.location.href = '/?state=' + this.value;
	});

	var data = {{ data.raw | safe }};

	var entities = [
		data.entities.find(entity => entity.name == stateName),
		data.entities.find(entity => entity.name == 'United States')
	];

	Highcharts.setOptions({
		lang: {
			thousandsSep: ','
		},
		chart: {
			type: 'column',
			height: '250',
			style: {
				fontFamily: '-apple-system, \'Helvetica Neue\', sans-serif'
			}
		},
		plotOptions: {
			series: {
				animation: false
			}
		},
	});

	entities.forEach(function(entity, i) {
		var entityTemplate = $('.entity-template').html();
		$('#charts-wrap').append('<div id="entity-' + i + '" class="entity">' + entityTemplate + '</div>');
		var entityBlock = $('#entity-' + i);
		if (entity.name == 'United States') {
			entityBlock.find('.entity-selection').remove();
			entityBlock.find('.entity-title').addClass('sm:text-center');
		}
		entityBlock.find('.vaccinations-chart').attr('id', 'vaccinations-chart-' + i);
		entityBlock.find('.fully-chart').attr('id', 'fully-chart-' + i);
		entityBlock.find('.entity-title').text(entity.name);
		if (entity.abbreviation) {
			entityBlock.find('.entity-title').prepend('<img src="/images/flags/' + entity.abbreviation.toLowerCase() + '.svg" alt="' + entity.abbreviation.toLowerCase() + ' flag">');
		}
		entityBlock.find('.entity-population').text(numberWithCommas(entity.population));
		entityBlock.find('.entity-vacs-given').text(numberWithCommas(entity.total_vaccinations));
		entityBlock.find('.entity-vacs-per-100').text(entity.total_vaccinations_per_hundred);
		entityBlock.find('.entity-7-day-rolling-average').text(numberWithCommas(entity.rolling_average_7));

		// herd
		entityBlock.find('.entity-herd-date-double').text(entity.herd_date_double_label);
		entityBlock.find('.entity-herd-days-needed-double').text(entity.herd_days_needed_double);
		if (entity.herd_vacs_needed_double) {
			entityBlock.find('.entity-herd-remaining-vacs-needed-double').text(numberWithCommas(entity.herd_vacs_needed_double));
		}

		// // complete
		// entityBlock.find('.entity-completion-date-double').text(entity.completion_date_double_label);
		// entityBlock.find('.entity-completion-days-needed-double').text(entity.completion_days_needed_double);
		// if (entity.completion_vacs_needed_double) {
		// 	entityBlock.find('.entity-completion-remaining-vacs-needed-double').text(numberWithCommas(entity.completion_vacs_needed_double));
		// }

		Highcharts.chart('vaccinations-chart-' + i, {
			title: {
				text: 'Daily Vaccinations'
			},
			xAxis: {
				categories: entity.days.map(day => day.date.substring(5, day.date.length)),
				labels: {
					step: 4
				}
			},
			yAxis: [
				{
					title: {
						text: 'Vaccinations'
					}
				}
			],
			series: [
				{
					name: 'Daily Vaccinations',
					type: 'column',
					data: entity.days.map(day => [day.date, day.daily_vaccinations_raw])
				},
				{
					name: '7 Day Rolling Average',
					type: 'spline',
					data: entity.days.map(day => [day.date, day.daily_vaccinations])
				}
			],
			tooltip: {
				shared: true
			}
		});
		var maxMultiplier = Math.min(entity.days[entity.days.length - 1].people_fully_vaccinated / entity.population * 2, 1);
		Highcharts.chart('fully-chart-' + i, {
			title: {
				text: 'People Fully Vaccinated'
			},
			legend: {
				enabled: false
			},
			xAxis: {
				categories: entity.days.map(day => day.date.substring(5, day.date.length)),
				labels: {
					step: 4
				}
			},
			yAxis: [
				{
					title: {
						text: 'People Fully Vaccinated'
					},
					min: 0,
					max: entity.population * maxMultiplier,
					endOnTick: false,
					gridLineWidth: 0,
					plotLines: [{
						color: '#11ba82',
						label: {
							text: 'HERD',
							align: 'left',
							textAlign: 'right',
							x: -8,
							y: 2
						},
						value: entity.herd_population,
						width: '1',
						zIndex: 2
					}]
				},
				{
					title: {
						text: '% of Population'
					},
					min: 0,
					max: 100 * maxMultiplier,
					endOnTick: false,
					gridLineColor: '#c7c7c7',
					opposite: true
				}
			],
			series: [
				{
					name: 'People Fully Vaccinated',
					type: 'areaspline',
					data: entity.days.map(day => [day.date, day.people_fully_vaccinated]),
					color: '#11ba82'
				},
				{ // only included for axis purposes
					name: 'Percentage of Population',
					type: 'line',
					yAxis: 1,
					visible: false,
					data: entity.days.map(day => [day.date, day.people_fully_vaccinated_per_hundred])
				}
			],
			tooltip: {
				formatter: function(tooltip) {
					var newTooltip = tooltip.defaultFormatter.call(this, tooltip);
					newTooltip[2] = '<strong>' + (this.y / entity.population * 100).toFixed(2) + '% of population</strong>';
					return newTooltip;
				}
			}
		});
	});

});

function numberWithCommas(x) {
	return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
}
{% endset %}
{{ js | jsmin | safe }}
</script>
