@tailwind base;
@tailwind components;
@tailwind utilities;

.entity-template {
	display: none;
}

.highcharts-plot-line {
	stroke-dasharray: 4;
}

.entity-title img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.5em;
	width: auto;
	min-width: 2em;
	height: 1.25em;
}

.fully-vacinated-el {
	display: none;
}
