<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta property="og:title" content="When will we reach Herd Immunity?">
	<meta property="og:site_name" content="When will we reach Herd Immunity?">
	<meta property="og:url" content="https://whenwillweherd.com">
	<meta property="og:type" content="article">
	<meta property="og:image" content="https://whenwillweherd.com/images/social.jpg">
	<title>When will we reach Herd Immunity?</title>
	<link rel="stylesheet" href="/style.css?v={% version %}"/>
</head>
<body class="dark:bg-gray-800">

{{ content | safe }}

</body>
</html>
